img {
    width: 200px;
}
body {
    text-align: center;
    background-color: mediumpurple;
    color: lightgreen;
    font-family: "Roboto Mono", serif;
}   
p {
    font-weight: bold;
}

.custom-size {
    width: 570px;
    height: 370px;
}